<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    	<h2>About us</h2>
        <hr>
    	<ul class="list-group">
    		<li class="list-group-item">
                <strong>1512602 - Đỗ Cao Trí</strong>
            </li>  
            <li class="list-group-item">
                <strong>1512635 - Mai Hữu Tuấn</strong>
            </li>
            <li class="list-group-item">
                <strong>1512649 - Nguyễn Văn Tú</strong>
            </li>    		
  	</div>
</div>