#adminCustomer{
    padding-left: 300px;
   	width: 90%;
}


#adminCustomer #th02{
    width: 200px;
}

#adminCustomer #th03{
    width: 150px;
}

#adminCustomer #th04{
    width: 50px;
}

#adminCustomer #th05{
    width: 100px;
}

#adminCustomer #th06{
    width: 100px;
}

#adminCustomer #th07{
    width: 100px;
}