
#adminCake{
    padding-left: 200px;

    width: 80%;
}

#adminCake #th01{
    width: 100px;
}

#adminCake #th02{
    width: 100px;
}


#adminCake #th03{
    width: 100px;
}

#adminCake #th04{
    width: 100px;
}


#adminCake #th05{
    width: 150px;
}

#adminCake #th06{
    width: 250px;
}

